/* https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Edu+QLD+Beginner:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --azul-oscuro: #181E4B;
    --blanco: #FFFFFF;
    --rosa-oscurito: #c594aa;
    --rosa-medio: #fdcae1;
    --rosa-claro: #ffe5f0;
    --azul-oscurito: #171a4a;
    --morado-medio: #2f2c79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Edu QLD Beginner", cursive; */
    font-family: "Arbutus", serif !important;

}
.body{
    background-color: var(--rosa-claro);
}
.header {
    background-color: var(--azul-oscurito);
    color: var(--rosa-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.nav {
    display: flex;
    align-items: center;
}

.ul {
    display: flex;
    gap: 15px;
}

.nav a {
    color: var(--rosa-claro);
    text-decoration: none;
    display: flex;
    
}


.estreno-actual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 30px;
}

.img-estreno {
    width: 35%;
    height: 400px;
}
.titulo-section{
    text-align: center;
    padding-block: 5px;
    font-size: 2rem;
    color: var(--morado-medio);
}
#cartelera {
    width: 100%;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.content-cartelera {
    background-color: var(--rosa-claro);
    border: 5px solid var(--azul-oscurito);
    padding: 20px;
    min-width: 200px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 80);
}

.figure {
    text-align: center;
}

.img-cartelera {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 80);
    margin-bottom: 10px;
    border-radius: 25px;
    height: 550px;
    width: 100%;
}

.peli-title {
    color: var(--morado-medio);
}

.descripcion {
    margin: 10px 0px;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.2;
    gap: 15px;
}

.bcomprar {
    background-color: var(--morado-medio);
    color: var(--rosa-oscurito);
    border-radius: 25px;
    padding: 10px;
}
.descripcion button:hover {
    border: 2px solid var(--rosa-medio);
    border-radius: 25px;
}

 #contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px ;
}

.Form-contacto {
    width: 80%; 
    padding: 20px;
}

.Form-contacto label {
    display: block; 
    margin: 5px; 
    color: var(--morado-medio);
}

.Form-contacto input[type="text"],
.Form-contacto input[type="email"],
.Form-contacto input[type="file"],
.Form-contacto select,
.Form-contacto textarea,
.Form-contacto button {
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid var(--morado-medio); 
    border-radius: 25px; 
}
.Form-contacto textarea {
    height: 100px; 
}
.Form-contacto input[type="checkbox"] {
    margin-right: 15px;
    vertical-align: center;
    margin: 10px;
}
.Form-contacto button {
    background-color: var(--morado-medio);
    color: var(--rosa-oscurito);
    border-radius: 25px;
    padding: 10px;
}

.Form-contacto button:hover {
    border: 2px solid var(--rosa-medio);
    border-radius: 25px;
}

.footer {
    background-color: var(--azul-oscurito);
    color: var(--rosa-claro);
}


.final-parte {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.redes {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.redes a {
    color: var(--rosa-claro);
}
.final-parte span{
    font-size: x-small;
}