/* https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Edu+QLD+Beginner:wght@400..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --azul-oscuro: #181E4B;
    --blanco: #FFFFFF;
    --rosa-oscurito: #c594aa;
    --rosa-medio: #fdcae1;
    --rosa-claro: #ffe5f0;
    --azul-oscurito: #171a4a;
    --morado-medio: #2f2c79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Edu QLD Beginner", cursive; */
    font-family: "Arbutus", serif !important;

}

.header {
    /* display: none;  --------------PARA APAGARLO */
    background-color: var(--azul-oscurito);
    color: var(--rosa-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; */

}

.nav {
    display: flex;
    align-items: center;
}

.ul {
    display: flex;
    gap: 15px;
}

.nav a {
    color: var(--rosa-claro);
    /* text-decoration: none; PARA QUITAR LA RAYITA DEL NAV Y PARA QUITAR LAS VIÑETAS DE LAS LISTAS Y ASI*/
    text-decoration: none;

}



#cartelera {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.figure {
    border: 5px solid var(--rosa-oscurito);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

}

p {
    font-size: xx-small;
    width: auto;
}

img {
    border-radius: 25px;
    height: 150px;
    width: 100px;
}





.final-parte {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.redes {
    display: flex;
    justify-content: space-between;

    gap: 25px;
}